schemas/commonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:commonTypes="rimworld.commonTypes"
    targetNamespace="rimworld.commonTypes"
    version="1.0"
    elementFormDefault="unqualified">

    <xs:complexType name="List">
        <xs:sequence>
            <xs:element
                name="li"
                type="xs:string"
                minOccurs="1"
                maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PackageId">
        <xs:restriction base="xs:token">
            <xs:minLength value="1" />
            <xs:pattern value="[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PackageIdList">
        <xs:sequence>
            <xs:element
                name="li"
                type="commonTypes:PackageId"
                minOccurs="1"
                maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Version string group declarations beyond here -->
    <!-- XSD 1.0 has zero support for variable element names -->
    <!-- Ludeon please make the version an attribute of <li>. -->

    <!-- <any> is used to prevent failure in the event of game update without schema update -->

    <xs:group name="VersionStringType">
        <xs:choice>
            <xs:element
                name="v1.0"
                type="xs:string"
                minOccurs="0" />
            <xs:element
                name="v1.1"
                type="xs:string"
                minOccurs="0" />
            <xs:element
                name="v1.2"
                type="xs:string"
                minOccurs="0" />
            <xs:element
                name="v1.3"
                type="xs:string"
                minOccurs="0" />
            <xs:element
                name="v1.4"
                type="xs:string"
                minOccurs="0" />
            <xs:element
                name="v1.5"
                type="xs:string"
                minOccurs="0" />
            <xs:element
                name="v1.6"
                type="xs:string"
                minOccurs="0" />
            <xs:any
                namespace="##targetNamespace"
                processContents="lax"
                minOccurs="0"
                maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

    <xs:group name="VersionListType">
        <xs:choice>
            <xs:element
                name="v1.0"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:element
                name="v1.1"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:element
                name="v1.2"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:element
                name="v1.3"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:element
                name="v1.4"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:element
                name="v1.5"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:element
                name="v1.6"
                type="commonTypes:List"
                minOccurs="0" />
            <xs:any
                namespace="##targetNamespace"
                processContents="lax"
                minOccurs="0"
                maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

    <xs:group name="VersionPackageIdListType">
        <xs:choice>
            <xs:element
                name="v1.0"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:element
                name="v1.1"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:element
                name="v1.2"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:element
                name="v1.3"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:element
                name="v1.4"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:element
                name="v1.5"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:element
                name="v1.6"
                type="commonTypes:PackageIdList"
                minOccurs="0" />
            <xs:any
                namespace="##targetNamespace"
                processContents="lax"
                minOccurs="0"
                maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

</xs:schema>